@{
    ViewData["Title"] = "Contact";
    ViewData["PageHeader"] = "Contact Us";
    ViewData["PageDescription"] = "If you have any questions or suggestions, please contact us.";
}

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <p>
        <i class="bi bi-envelope"></i>
        <email address="bernardo.sys@gmail.com" content="Send an email."></email>
    </p>
    <p>
        <i class="bi bi-telephone"></i>
        (202) 456-1414
    </p>
    <p>
        <i class="bi bi-house"></i>
        1600 Pennsylvania Avenue NW, Washington, D.C. 20500, Estados Unidos
    </p>
</div>